version: "3.9"

services:
    api:
        build:
            context: ./API
            dockerfile: Dockerfile
        ports:
            - "5000:5000"

        environment:
            - ASPNETCORE_ENVIRONMENT=Development
    client:
        build:
            context: ./client
            dockerfile: Dockerfile
        ports:
            - "4200:80"
        depends_on:
            - api
